.hidden {
  display: none;
}
body {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  flex: .08;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #temp-choice {
  display: flex;
  gap: .15rem;
}
header #temp-choice p:hover {
  background-color: red;
  cursor: pointer;
}
header form {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
#input-div input {
  height: 2.5rem;
  border-radius: 2rem;
  width: clamp(500px, 30vw, 45vw);
  margin-left: 100px;
}
#input-div input:valid {
  background-color: white;
}
#input-div #search-btn {
  transform: translate(-55px);
  background-color: white;
  border: none;
  cursor: pointer;
}
#input-div #search-btn:hover {
  transform: scale(1.1) translate(-50px);
  transition: .2s;
}


main {
  width: clamp(500px, 30vw, 45vw);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#main-panel {
  border: 2px solid;
}

#panel-header {
  display: flex;
  justify-content: space-between;
}
#temp-today {
  max-width: 20%;
}
#future-main-container {
  border: 2px solid black;
}
.future-container {
  display: flex;
  justify-content: space-between;
}